<app-modal-delete 
  [isOpen]="isDeleteModalOpen" 
  (close)="isDeleteModalOpen = false" 
  (confirm)="deleteItem()">
</app-modal-delete>

<app-header-aplication></app-header-aplication>
<div class="section">
    <div class="content">
      <div class="text">
        <h1>Parceiros</h1>
        <p>Aqui você encontra todas as ações de parceiros da aplicação.</p>
      </div>

      <div class="login-form">
        <!-- <input #userInput type="text" placeholder="Id" class="input-field" /> -->
        <input name="userName" #userName type="text" placeholder="Nome" class="input-field" />
        <input name="description" #description type="text" placeholder="Descrição" class="input-field" />
        <input name="repositorygit" #repositorygit type="text" placeholder="Repositório Git" class="input-field" />
        <input name="urldoc" #urldoc type="text" placeholder="URL do documento" class="input-field" />        

        <div class="buttons">
          <button>Criar</button>
        </div>
      </div>
  
      <app-table [partners]="partners" (delete)="openDeleteModal($event)"></app-table>
    </div>
</div>
