<div class="section">
    <div class="content">
        <div class="text">
            <h1>Bem-vindo (a), {{user}}</h1>
            <p>Encontre o que você precisa nas opções abaixo</p>
        </div>
        
        <div class="cards-container">
          <app-card routerLink="/mfepartners" category="lorem" title="Parceiros" subtitle="lorem"></app-card>
          <app-card routerLink="/mfepartners" category="lorem" title="Empresa externas" subtitle="lorem"></app-card>
          <app-card routerLink="/mfepartners" category="lorem" title="Sobre" subtitle="lorem"></app-card>
        </div>
    </div>
</div>