@import '../../../../main-app/projects/host/src/global-variables.scss';
@mixin apply-font($font-map) {
    font-family: map-get($font-map, font-family);
    font-size: map-get($font-map, font-size);
    font-weight: map-get($font-map, font-weight);
}
.section{
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    
    width: 100%;
    height: 100vh;
    padding: 320px 10%;
    
    background-color: $neutral-00;

    .content{
        gap: 80px;

        .text{
            justify-content: left;
            color: $primary-color;
            max-width: 1600px;

            h1{
                @include apply-font($orbitron-48);
                padding-bottom: 16px;
            }

            p{
                @include apply-font($inter-24);
                color: $neutral-100;
            }
        }

        .cards-container {
            display: flex;
            gap: 40px;
        }
    }
}
