<app-header-aplication></app-header-aplication>
<div class="section">
    <div class="content">
        <div class="text">
            <h1>Bem-vindo (a), {{user}}</h1>
            <p>Encontre o que você precisa nas opções abaixo.</p>
        </div>
        
        <div class="cards-container">
          <app-card routerLink="/mfepartners" title="Parceiros" subtitle="Gerenciamento"></app-card>
          <app-card routerLink="/mfeexternalcompanies" title="Empresa externas" subtitle="Gerenciamento"></app-card>
          <app-card routerLink="/mfeabout" title="Sobre" subtitle="Informações"></app-card>
        </div>
    </div>
</div>