
$primary-color: #ED145B;
$secondary-color: #C0124A;

$neutral-100: #FFFFFF;
$neutral-50: #7A7376;
$neutral-40: #666163;
$neutral-30: #423F3F;
$neutral-20: #2B2B2B;
$neutral-10: #161616;
$neutral-00: #000000;

$orbitron-16: (
    font-family: 'Orbitron',
    font-size: 16px,
    font-weight: 400
);

$orbitron-24: (
    font-family: 'Orbitron',
    font-size: 24px,
    font-weight: 600
);

$orbitron-32: (
    font-family: 'Orbitron',
    font-size: 32px,
    font-weight: 800
);

$orbitron-40: (
    font-family: 'Orbitron',
    font-size: 40px,
    font-weight: 800
);

$orbitron-48: (
    font-family: 'Orbitron',
    font-size: 48px,
    font-weight: 800
);

$inter-16: (
    font-family: 'Inter',
    font-size: 16px,
    font-weight: 300
);

$inter-24: (
    font-family: 'Inter',
    font-size: 24px,
    font-weight: 400
);

$inter-32: (
    font-family: 'Inter',
    font-size: 32px,
    font-weight: 600
);

$inter-40: (
    font-family: 'Inter',
    font-size: 40px,
    font-weight: 600
);