<!-- <table class="table">
  <thead>
    <tr>
      <th>Data de Criação</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Repositório do Git</th>
      <th>URL do documento</th>
      <th>Clientes</th>
      <th>Projetos</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of partners">
      <td>{{ item.createdAt | date: 'medium' }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.repositoryGit }}</td>
      <td>{{ item.urlDoc }}</td>
      <td>{{ item.clients.join(', ') }}</td>
      <td>{{ item.projects.join(', ') }}</td>
      <td>
        <button (click)="editPartner(item.id)" class="btn btn-edit">
          <span class="material-symbols-outlined">edit</span>
        </button>
        <button (click)="deletePartner(item.id)" class="btn btn-delete">
          <span class="material-symbols-outlined">delete</span>
        </button>
      </td>
    </tr>
  </tbody>
</table> -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Data de Criação Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Data de Criação </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'medium'}} </td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Descrição Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Repositório do Git Column -->
    <ng-container matColumnDef="repositoryGit">
      <th mat-header-cell *matHeaderCellDef> Repositório do Git </th>
      <td mat-cell *matCellDef="let element"> {{element.repositoryGit}} </td>
    </ng-container>

    <!-- URL do Documento Column -->
    <ng-container matColumnDef="urlDoc">
      <th mat-header-cell *matHeaderCellDef> URL do Documento </th>
      <td mat-cell *matCellDef="let element"> {{element.urlDoc}} </td>
    </ng-container>

    <!-- Clientes Column -->
    <ng-container matColumnDef="clients">
      <th mat-header-cell *matHeaderCellDef> Clientes </th>
      <td mat-cell *matCellDef="let element"> {{element.clients.join(', ')}} </td>
    </ng-container>

    <!-- Projetos Column -->
    <ng-container matColumnDef="projects">
      <th mat-header-cell *matHeaderCellDef> Projetos </th>
      <td mat-cell *matCellDef="let element"> {{element.projects.join(', ')}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="editPartner(element.id)" class="btn btn-edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deletePartner(element.id)" class="btn btn-delete">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of partners">
  </mat-paginator>
</div>
