@import '../../../../main-app/projects/host/src/global-variables.scss';
.table {
  width: 100%;
  margin: 20px 0;

  color: $neutral-100;
  border-collapse: collapse;

  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;


  thead {
    background-color: $neutral-10;

    th {
      padding: 16px;
      text-align: left;
    }
  }

  tbody {
    tr {
      max-width: 100%;

      td {
        max-width: 160px;
        max-height: 100px;
        padding: 4px 16px;

        background-color: $neutral-20;
        border-bottom: 1px solid $neutral-10;
        
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;

        white-space: normal; /* Permite quebras de linha dentro da célula */
        white-space: nowrap; /* Força apenas uma linha na célula */

        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      .btn {
        padding: 8px 16px;
        margin-right: 8px;

        border: none;
        border-radius: 2px;
        
        cursor: pointer;
        font-size: 14px;
        
        &.btn-edit {
          background-color: $neutral-40;
          color: $neutral-100;
        }

        &.btn-delete {
          background-color: $primary-color;
          color: $neutral-100;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
