@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.table {
  width: 100%;
  margin: 20px 0;

  color: #fff;
  border-collapse: collapse;

  font-family: Inter;
  font-size: 16px;

  thead {
    background-color: #161616;

    th {
      padding: 16px;
      text-align: left;
    }
  }

  tbody {
    tr {
      td {
        padding: 16px;
        background-color: #2b2b2b;
        border-bottom: 2px solid #161616;

        ul {
          padding: 0;
          margin: 0;
          list-style: none;
        }
      }

      .btn {
        padding: 8px 16px;
        margin-right: 8px;

        border: none;
        border-radius: 4px;
        
        cursor: pointer;
        font-size: 14px;
        
        &.btn-edit {
          background-color: #4caf4fc9;
          color: white;
        }

        &.btn-delete {
          background-color: #f44336b2;
          color: white;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
  