<app-header-aplication></app-header-aplication>
<div class="section">
    <div class="content">
        <div class="title">
            <h1>Sobre o Projeto</h1>
        </div>

        <div class="description">
            <div class="text">
                <p>
                    Este projeto foi desenvolvido com o objetivo de demonstrar meu conhecimento técnico, 
                    aplicando diversas técnicas e abordagens avançadas. O aplicativo consiste na implementação de 
                    uma solução que permite o cadastro e gerenciamento de parceiros integrados em nossas aplicações.
                </p>
            </div>
            <div class="ilustration">
                <img src="http://localhost:5005/assets/images/about1.png" alt="A imagem é um wireframe de uma tabela">
            </div>
        </div>

        <div class="description">
            <div class="ilustration">
                <img src="http://localhost:5005/assets/images/about2.png" alt="A imagem é uma representação de um micro front end">
            </div>
            <div class="text">
                <p>
                    Além disso, o projeto foi planejado para ser construído utilizando a arquitetura de micro front-ends, 
                    onde diferentes domínios ou contextos de uso são separados em módulos independentes. 
                    Essa abordagem permite que diferentes times possam trabalhar de forma autônoma, 
                    mantendo e evoluindo suas respectivas funcionalidades sem impactar outras partes do sistema.
                </p>
            </div>
        </div> 

        <div class="figma-contant">
            <div class="title"><p>Figma</p></div>
        
            <div class="description">
                <div class="figma-text">
                    <p>
                        O projeto foi desenvolvido com foco na modularização, 
                        permitindo que diferentes partes possam ser trabalhadas de forma isolada, 
                        sem interferir nos outros módulos de Front-End. 
                        Essa abordagem facilita a adição de novos componentes e a reutilização de componentes globais em toda a aplicação, 
                        garantindo maior flexibilidade e eficiência no desenvolvimento.
                    </p>
                </div>
        
                <div class="content-images">
                    <div class="image-wrapper">
                        <p class="image-text">Wireframe</p>
                        <img src="http://localhost:5005/assets/images/wireframe.png" alt="A imagem é uma representação de um micro front end">
                    </div>
        
                    <div class="image-wrapper">
                        <p class="image-text">Protótipo</p>
                        <img src="http://localhost:5005/assets/images/wireframe.png" alt="A imagem é uma representação de um micro front end">
                    </div>
        
                    <div class="image-wrapper">
                        <p class="image-text">Mockup</p>
                        <img src="http://localhost:5005/assets/images/wireframe.png" alt="A imagem é uma representação de um micro front end">
                    </div>
                </div>
            </div> 

            <div class="figma-link">
                <a href="https://www.figma.com/design/FEgAh0KSFzKnUhCyVsw2iD/Micro-Front-End-Project?m=auto&t=LdpR6S7AB2CI7VGh-1" class="external-link-button" target="_blank" rel="noopener noreferrer">
                    <img src="http://localhost:5005/assets/images/figma.png" alt="Figma" class="figma-icon">
                    <span class="button-text">Abrir Figma</span>
                    <img src="http://localhost:5005/assets/images/external-link.png" alt="External Link" class="external-icon">
                </a>
            </div>
        </div>

        <div class="mfe-contant">
            <div class="title">
                <p>Micro Front End</p>
            </div>
        
            <div class="description">
                <div class="figma-text">
                    <p>
                        O projeto foi desenvolvido com foco na modularização, 
                        permitindo que diferentes partes possam ser trabalhadas de forma isolada, 
                        sem interferir nos outros módulos de Front-End. 
                        Essa abordagem facilita a adição de novos componentes e a reutilização de componentes globais em toda a aplicação, 
                        garantindo maior flexibilidade e eficiência no desenvolvimento.
                    </p>
                </div>
        
                <div class="content-images">
                    <img src="http://localhost:5005/assets/images/mfe-map.png" alt="A imagem é uma representação de um micro front end">
                </div>
            </div>
        </div>
        
        
        <div class="title">
            <h1>Variáveis do projeto</h1>
        </div>

        <div class="variables-contant">
            <div class="variables-title"><p>Cores</p></div>

            <div class="subtitle"><p>Neutral colors</p></div>
            <div class="color-cards">
                <app-card-color colorVariable="#FFFFFF" colorName="neutral-100"></app-card-color>
                <app-card-color colorVariable="#7A7376" colorName="neutral-50"></app-card-color>
                <app-card-color colorVariable="#666163" colorName="neutral-40"></app-card-color>
                <app-card-color colorVariable="#423F3F" colorName="neutral-30"></app-card-color>
                <app-card-color colorVariable="#2B2B2B" colorName="neutral-20"></app-card-color>
                <app-card-color colorVariable="#161616" colorName="neutral-10"></app-card-color>
                <app-card-color colorVariable="#000000" colorName="neutral-00"></app-card-color>
            </div>

            <div class="subtitle"><p>Neutral colors</p></div>
            <div class="color-cards">
                <app-card-color colorVariable="#ED145B" colorName="primary-color"></app-card-color>
                <app-card-color colorVariable="#C0124A" colorName="secondary-color"></app-card-color>
            </div>
        </div>

        <div class="variables-contant">
            <div class="variables-title"><p>Tipografia</p></div>

            <div class="typography-cards">
                <app-card-typography fontName="Orbitron" typeText="Regular" sizeText="16"></app-card-typography>
                <app-card-typography fontName="Orbitron" typeText="Medium" sizeText="24"></app-card-typography>
                <app-card-typography fontName="Orbitron" typeText="Bold" sizeText="32"></app-card-typography>
                <app-card-typography fontName="Orbitron" typeText="Bold" sizeText="40"></app-card-typography>
                <app-card-typography fontName="Orbitron" typeText="Bold" sizeText="48"></app-card-typography>
            </div>

            <div class="typography-cards">
                <app-card-typography fontName="Inter" typeText="Regular" sizeText="16"></app-card-typography>
                <app-card-typography fontName="Inter" typeText="Medium" sizeText="24"></app-card-typography>
                <app-card-typography fontName="Inter" typeText="Bold" sizeText="32"></app-card-typography>
                <app-card-typography fontName="Inter" typeText="Bold" sizeText="40"></app-card-typography>
            </div>
        </div>

    </div>
</div>
