@import '../../../../main-app/projects/host/src/global-variables.scss';
.card {
    width: 200px;
    height: 200px;
    margin-top: 40px;
    padding: 20px;

    background-color: $neutral-10;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: $primary-color
    }

    .category {
        margin-bottom: 8px;
        color: $neutral-50;
        font-family: 'Inter';
        font-size: 12px;
        display: block;
    }

    .title {
        color: $neutral-100;
        font-family: 'Orbitron';
        font-size: 24px;
        margin: 16px 0;
    }

    .subtitle {
        color: $neutral-100;
        font-family: 'Inter';
        font-size: 16px;
    }
}