<div class="modal" *ngIf="isOpen">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Delete Item</h2>
            <button class="close-btn" (click)="closeModal()">X</button>
        </div>
        <div class="modal-body">
            <p>Tem certeza que deseja deletar este item?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-cancel" (click)="closeModal()">Cancelar</button>
            <button class="btn btn-confirm" (click)="confirmDelete()">Deletar</button>
        </div>
    </div>
</div>
